/*-- scss:defaults --*/

// Colors
$dark-green: #586028;
$weird-green: #898928;
$light-green: #D1D9CE;
$viridis-green: #22A884FF;
$lime-green: #7AD151FF;
$cream: #FDFBF7;
$gray: #9DA7BF;
// $darkgray: #616571;
$darkgray: #545760;
$lightblue: #55CFD8;
$blue:  #277F8EFF;
$darkblue: #365C8DFF;
$purple: #440154FF;
$orange: #ad7237;


// Base document colors
$sidebar-bg: $darkblue; // navbar
$navbar-bg: $darkblue; // navbar
$sidebar-fg: #fff;
$sidebar-hl: #fff;
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $lightblue; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $darkgray; // page text 
$footer-bg: $cream; // footer 
$link-color: $dark-green; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$input-bg: $cream; // background color for html inputs
$code-color: $purple; // inline code text color
$code-annotation-higlight-color: $orange; // The color used as a border on highlighted lines

/*-- scss:defaults --*/


/*-- scss:rules --*/
/* Overall page styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    font-size: 16px;
}
/* Table styles */

table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are clear and consistent */
}

/* Header styling */
h1 {
    color: $darkblue;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2, h3, h4, h5, h6 {
    color: $blue;
    font-weight: 400;
    margin-top: 1rem;
    //margin-bottom: 1rem;
}
h1 {
    //color: #1a252f;
    color: #3b528b;
    border-bottom: 3px solid #2980b9;
    padding-bottom: 0.5rem;
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

/* Body text */
p, li, td {
    font-size: 1.1em;
    color: #2c3e50;
}

/* Prevent wrapping in the first column of a table */

table th:nth-child(1) {
  white-space: nowrap;
}


th, td {
    padding: 10px; /* Adds some padding for better readability */
    border: 1px solid #ddd; /* Defines clear boundaries between columns */
    text-align: left; /* Aligns text to the left */
}


.table th, table th {
    background-color: #365C8DFF; /* Green background for header row */
    color: #fff; /* White text color for header row */
    
}

nav.sidebar {
  a {
    color: #fff;
    
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  
  a.quarto-navigation-tool {
    &:hover, &:focus {
      opacity: 1;
    }
  }
  
}
nav.quarto-secondary-nav {
  button.quarto-search-button {
    color: #fff;
  }
}

.reveal .slide .goal {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 1em;
    background: #3b528b;
    color: #fdfbf7;
}