/*-- scss:defaults --*/

// colors

$darkgreen1: #586028;
$weirdgreen1: #898928;
$lightgreen1: #d1d9ce;
$cream1: #fdfbf7;
$gray1: #9da7bf;
$darkgray1: #545760;
$lightblue1: #55cfd8;
$blue1: #00a1b7;
$darkblue: #365C8DFF;
$purple: #440154FF;
$orange1: #ad7237;
$unnamed1: #616571;
$orange2: #C0532B;



// fonts
//@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

//$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #3b528b;
$presentation-title-slide-text-align: 'left';
$presentation-subtitle-slide-text-align: 'left';
$font-family-sans-serif: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif !default;
$code-block-font-size: '1';
$code-color: #5f5f5f;
$font-family-monospace:  "Menlo";

$body-bg: $cream1 !default;
$link-color: #586028 !default;
$selection-bg: $lightblue1 !default;

// headings
$presentation-heading-font: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif !default;
$presentation-heading-color: $darkblue1 !default;

/*-- scss:rules --*/

.reveal a {
    line-height: 1.3em;
}

.reveal .custom-title {
    position: left;
    color: #365C8DFF;
    font-size: 3em;
    text-align: right;
    right: 20px;
    top: -200px;
}

.reveal .custom-subtitle {
    position: left;
    color:  #00a1b7;
    font-size: 2em;
    text-align: right;
    right: 10px;
    top: -100px;
}

.reveal .custom-author {
    color: #545760;
    position: absolute;
    font-size: 1.5em;
    text-align: right;
    right: 20px;
    top: 300px;
}

.reveal .custom-url a {
    position: absolute;
    color: #00a1b7;
    font-size: 1.5em;
    text-align: right;
    right: 20px;
    top: 570px;
}

.small {
    font-size: 0.75em;
}

.reveal .slide .in-out {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 1em;
    background: #e8e8e8;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
        monospace;
    font-size: 0.6em;
}

.reveal .slide .goal {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 1em;
    background: #277F8EFF;
    color: #fdfbf7;
}

.dark-theme {
    color: #fdfbf7;
    background-color: #365C8DFF;
}


.figure-caption {
  margin: auto;
  text-align: center;
}

.html .custom-title {
    position: left;
    color: #365C8DFF;
    font-size: 3em;
    text-align: right;
    right: 20px;
    top: -200px;
}

/* Header styling */
h1 {
    color: $darkblue;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2, h3, h4, h5, h6 {
    color: $blue1;
    font-weight: 400;
    margin-top: 1rem;
    //margin-bottom: 1rem;
}
h1 {
    //color: #1a252f;
    color: #3b528b;
    border-bottom: 3px solid #2980b9;
    padding-bottom: 0.5rem;
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}